.container__data{
    margin: auto;
    max-width: 400px;
    width: 100%;
    text-align: center;
    padding: 12px;
    
}


.form__fieldset{
    border-radius: 20px;
    background-color: hsl(210, 33%, 13%);
    box-shadow: 2px 2px 10px black;
    
}

.form__legend{
    padding: 10px;
    font-size: 20px;
    background-color: hsl(210, 33%, 18%);
    border-radius: 20px;
    border: 1px solid white;
}

.form__button{
    background-color: hsl(210, 33%, 13%);
    color: #FEE715FF;
    border-radius: 20px;
    margin: 30px;
}
.form__button:hover{
    background-color: hsl(210, 33%, 20%);
}

.container__paragraph{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    height: 50px;
}

