html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    background-color: #101820FF;
    color:#FEE715FF;
    background: center / cover no-repeat  url("/images/dollars.JPG");
}

*, ::after, ::before {
    box-sizing: inherit;
}

.header{
    margin: 20px auto;
    text-align: center;
    max-width: 400px;
    width: 100%;
    background-color: hsl(210, 33%, 18%);
    border-radius: 20px;
    border: 1px solid white;
}


